@font-face {
    font-family: "notokr-light";
    src: url("../fonts/notokr-light.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "notokr-medium";
    src: url("../fonts/notokr-medium.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto-Light";
    src: url("../fonts/Roboto-Light.woff") format("woff");
    font-weight: 400;
}
