@import "reset.css";
@import "common.css";

* {
    font-family: "KakaoBig";
}

header {
    transition: background-color 0.3s ease 0s;
    color: white;
    filter: invert(100%);
    /* filter옵션중 invert는 이미지 샘플 색을 반전시킵니다 0은 기본값 */
    /* background-color: #fff; */

    height: 54px;
    z-index: 3000;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    min-height: 100px;
    box-sizing: border-box;
    background-color: transparent;
    color: rgb(255, 255, 255);
}

header.show {
    filter: none !important;
    height: 70px;
    background: #fff;
    color: rgb(102, 102, 102);
    position: fixed;
    top: 0;
    left: 0;
    transition: 0s;
}

header:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(102, 102, 102);
    filter: none !important;
}

header.show {
    background-color: rgb(255, 255, 255);
    color: rgb(102, 102, 102);
    filter: none !important;
    /* background: white; */
}

header .inner {
    /* background-color: rgb(255, 255, 255);

    filter: invert(100); */

    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    min-width: 1200px;
    max-width: 1920px;
    height: 100%;
    margin: auto;
    padding: 0px calc(5% + 6px);
    justify-content: space-between;
}
header .inner h1 {
    margin-left: 35px;
}
header .inner h1 a {
    /* filter: invert(100%); */
}

header .inner .mobile_wrap ul {
    /* display: none; */
    /* margin-top: 60px; */
}

header .m_menu {
    display: none;
}
header .mobile_wrap {
    display: none;
    /* word-break: keep-all;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    position: fixed;
    inset: 56px 0px 0px;
    padding: 0px calc(5% + 6px);
    line-height: 55px;
    transition: opacity 0.1s ease-in-out 0s;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    overflow: auto; */
}
header nav > ul {
    position: relative;

    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100%;
}
header nav ul > li {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    display: block;
}
header nav ul > li > a {
    filter: invert(100%);
    display: block;
    /* color: #fff; */
    color: inherit;
    padding-left: 32px;
    padding-right: 32px;
    height: 100%;
    font-size: 14px;
}

header nav ul .sub {
    z-index: 3;
    display: none;
    position: absolute;
    /* height: 54px; */
}

header nav ul .sub li {
    color: rgb(128, 128, 128);
    /* filter: invert(none); */

    overflow: visible;
    background: white;
    padding: 20px 0px 30px 10px;
    height: auto;
    box-shadow: rgb(38 45 57 / 16%) 0px 4px 16px;
    border-radius: 8px;

    margin-top: 65px;
}
header nav ul .sub li a {
    display: block;
    color: inherit;
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
    white-space: nowrap;
    transition: color 0.1s ease 0s;
    outline: none;
    background: none transparent;
    border: 0px none;
    cursor: pointer;

    margin-top: 13px;
}

header nav ul .sub li a:hover,
header nav ul .sub li a:focus,
header nav ul .sub li a:active {
    filter: none !important;
}

header .covid {
    filter: invert(100%);
    /* color: #fff; */
}

/*  */

footer {
    word-break: keep-all;
    overflow-wrap: break-word;
    /* white-space: pre-wrap; */
    z-index: 1000;
    width: 100%;
    box-sizing: border-box;

    padding-bottom: 50px;
    background-color: rgb(0, 0, 0);

    user-select: none;
    cursor: default;
}
footer .inner {
    display: flex;
    justify-content: space-between;
}

footer .inner ul {
    padding: 50px 0px 0px;
    width: 12.1%;
    max-width: 234px;
    flex-shrink: 0;
}
footer .inner ul li {
}

footer .inner ul li.last {
}

footer .inner ul li a {
    position: relative;
    display: inline-block;
    background: none transparent;
    border: 0px none;
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    outline: none;
    cursor: pointer;
    margin-top: 10px;
}
footer .inner ul li a.title {
    color: rgb(255, 255, 255);
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
}

footer .bottom_area {
    margin-top: 85px;
    text-align: center;
}
footer .bottom_area .inners {
    padding: 0px 5%;
}
footer .bottom_area .btd-01 {
    display: flex;
}
footer .bottom_area .btd-01 .corp {
    text-align: left;
    float: left;
    min-width: 17.6667%;
    font-size: 14px;
    line-height: 20px;
    color: rgb(255, 255, 255);
}

footer .bottom_area .btd-01 ul {
    display: flex;
}

footer .bottom_area .btd-01 ul li {
    margin-right: 10px;
}

footer .bottom_area .btd-01 ul li a {
    display: inline-block;
    /* margin-right: 16px; */
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: rgb(255, 255, 255);

    outline: none;
}
footer .bottom_area .btd-01 ul li a.line {
    text-decoration: underline;
}

footer .bottom_area .btd-01 address {
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 20px;
    color: rgb(255, 255, 255);
    margin-left: 400px;
}

/*  midea 쿼리 시작 */

@media screen and (max-width: 1500px) {
}

@media screen and (max-width: 1300px) {
}

/* 태블릿 */
@media screen and (max-width: 1024px) {
    header {
        /* background-color: black; */
        color: rgb(102, 102, 102);
        /* filter: invert(100%); */
    }

    header:hover {
        filter: invert(100%);
    }
    header.show {
        filter: invert(none);
    }

    header .inner {
        background: none;
        max-width: 1079px;
        min-width: 360px;
    }

    header .inner h1 a {
        /* filter: invert(100%); */
    }
    header .inner h1 a img {
        height: 17px;
    }
    header .pc_wrap {
        display: none;
    }
    header .mobile_wrap {
        /* display: block; */
        display: none;
        word-break: keep-all;
        overflow-wrap: break-word;
        /* white-space: pre-wrap; */
        position: fixed;
        inset: 56px 0px 0px;
        padding: 0px calc(5% + 6px);
        line-height: 55px;
        transition: opacity 0.1s ease-in-out 0s;
        background-color: rgb(255, 255, 255);
        opacity: 1;
        overflow: auto;
    }

    header .mobile_wrap.show {
        display: block;
        /* background-color: unset; */
        background-color: rgb(255, 255, 255);
    }
    header .inner .mobile_wrap > ul {
        display: block;
        width: 100%;
        word-break: keep-all;
        overflow-wrap: break-word;
        position: fixed;
        inset: 56px 0px px 0px;
        padding: 0px calc(5% + 6px);
        line-height: 55px;
        transition: opacity 0.1s ease-in-out 0s;
        position: absolute;
        left: 0;
        margin-top: 60px;
    }

    header .inner .mobile_wrap > ul > li > a {
        z-index: 1;
        position: relative;
        display: block;
        width: 100%;
        margin: 0px;
        padding: 19px 0px;
        font-size: 22px;
        font-weight: 800;
        line-height: 34px;
        color: rgb(0, 0, 0);
        background: none transparent;
        border: 0px none;
        outline: none;
        text-align: left;
        cursor: pointer;
        text-decoration: none !important;
    }

    header .inner .mobile_wra .menu > li {
        display: none;
    }
    header .inner .mobile_wrap .bot.on {
        display: block;
    }
    header .inner .mobile_wrap .bot {
        display: none;
    }
    header .inner .mobile_wrap .bot li a {
        display: block;
    }

    header .inner .mobile_wrap ul.show {
        display: block;
    }

    header .m_menu:hover {
        /* pointer-events: none; */
    }

    header .m_menu {
        /* filter: invert(100%); */
        position: relative;
        top: -3px;
        overflow: hidden;
        width: 1px;
        height: 24px;
        margin: 0px;
        padding: 0px 0px 0px 24px;
        border: 0px none;
        text-indent: 1px;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        display: block;
        /* background: black; */
    }

    header .m_menu::before {
        content: "";
        position: absolute;
        left: 0px;
        overflow: hidden;
        width: 100%;
        height: 0px;
        transition: transform 0.25s ease-in-out 0s;
        border-style: solid;
        border-width: 1px 0px;
        border-color: rgb(0, 0, 0);
        top: 6px;
    }

    header .m_menu::after {
        content: "";
        position: absolute;
        left: 0px;
        overflow: hidden;
        width: 100%;
        height: 0px;
        transition: transform 0.25s ease-in-out 0s;
        border-style: solid;
        border-width: 1px 0px;
        border-color: rgb(0, 0, 0);
    }

    header .covid {
        display: none;
    }
    footer {
        margin-top: 0px;
        padding-top: 10px;
        text-align: left;
    }

    footer .inner {
        display: none;
    }

    footer .bottom_area {
        margin-top: 50px;
    }

    footer .bottom_area .btd-01 {
        display: flex;
        flex-direction: column;
    }
    footer .bottom_area .btd-01 ul li {
        margin-bottom: 20px;
    }
    footer .bottom_area .btd-01 .corp {
        display: none;
    }
    footer .bottom_area .btd-01 address {
        margin-left: 0;
        padding-top: 30px;

        float: none;
        /* display: block; */
        padding-top: 30px;
        clear: both;
        font-size: 12px;
        color: rgb(128, 128, 128);
    }
}

/* 모바일 */
@media screen and (max-width: 768px) {
    header:hover {
    }
    header .inner {
        padding-left: 30px;
    }
    header .inner h1 {
        margin-left: 0;
    }

    footer .bottom_area .btd-01 ul li a {
        font-size: 12px;
        font-weight: 700;
        color: rgb(229, 229, 229);
    }
}

@media screen and (max-width: 375px) {
    footer .bottom_area .btd-01 ul li a {
        font-size: 12px;
        font-weight: 700;
        color: rgb(229, 229, 229);
    }
}
