@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Regular.woff2") format("woff2");
    font-weight: 400;
}
@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Medium.woff2") format("woff2");
    font-weight: 500;
}
@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2");
    font-weight: 600;
}
@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Bold.woff2") format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: "NotoSansKR";
    src: url("../fonts/NotoSansKR-Light-Hestia.woff") format("woff");
    font-weight: 300;
}
@font-face {
    font-family: "NotoSansKR";
    src: url("../fonts/NotoSansKR-Regular-Hestia.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "NotoSansKR";
    src: url("../fonts/NotoSansKR-Medium-Hestia.woff") format("woff");
    font-weight: 500;
}
@font-face {
    font-family: "NotoSansKR";
    src: url("../fonts/NotoSansKR-Bold-Hestia.woff") format("woff");
    font-weight: 700;
}
