.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
}

header .logo_area .logo,
.sp_bg,
header .quick_link .link_start::after,
.sc_news .group_issue .link_wrap .media::after,
.gnb_area .m_menu .ico_mail,
.sc_news .btn-prev .ic-btn,
.sc_news .btn-next .ic-btn,
.theme_cast .group_theme .btn-prev .ic-btn,
.theme_cast .group_theme .btn-next .ic-btn,
.sc_news .group_title .newstand::before,
header .gnb_area .m_menu .live::before,
header .gnb_area .more_btn::after,
.sc_login .login_link .link_id::before,
.sc_login .login_link .link_join::before,
.theme_cast .info_area .btn_set::before,
.sc_news .group_title .list_wrap a .ico_list,
.sc_news .group_title .list_wrap a .ico_title,
.sc_news .group_title .list_wrap a .ico_set,
.sc_news .group_issue .link_wrap .media::after,
.sc_news .group_title .newstand::after,
.more_wrap .btn_more .ico_more,
header .quick_link .link_junior,
header .quick_link .link_been {
    /* 
        @창고 */

    background-image: url(../images/sp_bg.png);
    background-size: 444px;
    background-repeat: no-repeat;
}

.sc_shop .plus_deal .pluscont .btn.prev::before,
.sc_shop .plus_deal .btn_wrap .btn.next::before,
.sc_shop .group_event .page_area .btn::before,
.sc_shop .group_plus .shop_contplus .btn.prev::before,
.sc_shop .group_plus .shop_contplus .btn.next::before,
.sc_shop .shop_control .btn_box .prev::before,
.sc_shop .shop_control .btn_box .next::before,
.sc_shop .shop_page .btn.prev::before,
.sc_shop .shop_page .btn.next::before,
.timesquare .navi .btn.prev::after,
.timesquare .navi .btn.next::after,
.sc_shop .plus_deal .shop_title::before,
.sc_shop .trend_shop::before,
.sc_shop .trend_shop::after {
    background-image: url(../images/sp_bg2.png);
    background-repeat: no-repeat;
    background-size: 107px 101px;
}

.hover:hover strong {
    text-decoration: underline;
}

.gnb_area .weather_area .current-box::before {
    background-image: url(../images/weather.png);
    background-repeat: no-repeat;
    background-size: 215px;
}
